.btn-flat,
.datePicker {
	border: 1px solid black;
	color: black;
	background-color: transparent;
	cursor: pointer;
	font-weight: bold;
}

.btn-flat {
	width: 2rem;
  svg {
    width: 0.4rem;
    height: auto;
  }
}

.btn-flat:hover,
.btn-flat:focus {
	background-color: black;
	color: white;
	outline: 0;
}
