.leaflet-container a.leaflet-popup-close-button {
	color: white;
}

.leaflet-container .leaflet-control-attribution {
	padding: 6px;
	background-color: rgba(255, 255, 255, .95);
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
	color: white;
	background-color: black;
	font-size: 1rem;
	box-shadow: none;
	border-radius: 0;
}
.leaflet-control-attribution a {
  color: #FF335B;
}
